@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#global {
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
    width: 50%;
}

#order-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30vh;
    overflow-y: auto;
}

.hidden {
    display: none !important;
}